<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  <div id="app">
    <div v-if="word !== null && a[word] !== undefined">
      <h1>{{ a[word]["supername"] }}</h1>
      <h2>{{ a[word]["firstname"] }} {{ a[word]["lastname"] }}</h2>
      <h3>Description</h3>
      <p>{{ a[word]["description"] }}</p>
      <h3>Powers</h3>
      <ul>
        <li v-for="power in a[word]['powers']">{{ power }}</li>
      </ul>
    </div>
    <div v-else>
      <h1>SUPER WIKI</h1>
      <a href="https://clancywoodburn.github.io/super-wiki/?x=spiderman" class="btn"><button>Spider-Man</button></a>
      <a href="https://clancywoodburn.github.io/super-wiki/?x=batman" class="btn"><button>Batman</button></a>
    </div>
  </div>
  <script src="index.js"></script>
</body>
</html>
